@media (max-width: 767px) {
   
  body {
    overflow-x: hidden;
  }

 #principal {
  width: 100%;
  position: relative;
  height: 3900px;
}

  #contentNav img {
    display: none;
  }
  #content h1{
    font-size: 18px;
  }
  #textBanner {

    font-size: 32px;

  }

  #textBanner2 {
    font-size: 15px;
  }

  #content {
    height: 3300px;

  }

  #info {
    height: 3200px
  }

  #inicio {
    height: 1000px;
    flex-direction: row;

  }

  .cardinicio {
    flex-direction: column;
    justify-content: space-around;
  }

  .cardinicio:nth-child(2){
    display: none;
  }

  .cardinicio div {
    width: 200px;
    height: 220px;
  }

  .text2inicio {

    font-size: 11px;
  }

  #sobre {
    flex-direction: column;
    height: 1000px;

  }

  #sobre img {
    position: absolute;
    left: auto;
    top: auto;
    width: 200px;
    height: 200px;
  }

  #sobre div:nth-child(1) {
    width: 230px;
    height: 230px;
    position: relative;
    align-items: center;
    

  }
  #sobre div:nth-child(2){
      width: 95%;
  }
  .textsobre{
    font-size: 0.84rem;
  }


}